:root {
  --cor0: #000000; 
  --cor1: #FFEE10; 
  --cor2: #00FF99;
  --cor3: #8A2BE2;
  --cor4: #CCFF99; 
  --cor5: #f1bf51; 
  --cor6: #CCFF00; 

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--fonte-padrao);
  box-sizing: border-box;
}

.wrapper header {
  background-color: var(--cor1);
  padding: 1.0em;
  color: var(--cor0);
  text-align: center;
}

.wrapper nav {
  background-color: var(--cor2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  background-color: var(--cor3);
  color: var(--cor5);
  width: 100%;
  padding: 20px 0;
}

aside {
  width: 50%;
  height: 40px;
  text-align: center;
}

.aside-1 {
  background-color: var(--cor6);
  color: var(#000000);
  float: left;
}

.aside-2 {
  background-color: var(--cor4);
  color: var(--cor0);
  float: right;
}

footer {
  background-color: var(--cor2);
  color: var(--cor0);
  clear: both;
  text-align: center;
  padding: 1.0em;
}

@media screen and (max-width:480){
.wrapper nav ul {
  flex-direction: column;
}

.aside {
  width: 100%;
}

.aside-1, .aside-2{
  float: none;
}

}